.editor {
    height: 100%;
    background-color: #1e1e2e;
}

.editor-textarea {
    position: relative;
    width: 80%;
    height: 100%;
    left: 10%;
    background: #3e3e5e;
    border: none;
    resize: none;
    outline: none;
    font-size: 20px;
    line-height: 23px;
}