.header {
  width: 100%;
  height: 100px;
  background-color: var(--secondary-color); /* Theme variable */
}

.header-text-small,
.header-text-big {
  margin: 0;
}

.header-text-small {
  position: relative;
  width: 250px;
  left: 86px;
  top: 16px;
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-size: 20px;
  color: var(--primary-color); /* Theme variable */
}

.header-text-big {
  position: relative;
  width: 250px;
  left: 86px;
  top: 16px;
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-size: 40px;
  color: var(--primary-color); /* Theme variable */
}

.header-button-run {
  position: relative;
  width: 80px;
  height: 27.5px;
  left: calc(100% / 2 - 80px);
  top: -20px;
  background: var(--primary-color); /* Theme variable */
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-text-color); /* Theme variable */
}
